.R-MIM{
    background: url('https://images.unsplash.com/photo-1498335746477-0c73d7353a07?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8NDN8fHxlbnwwfHx8fHw%3D');
    background-position: center;
    /* background-size: cover; */
     background-repeat: no-repeat; 
     margin-top: 60px;
}